.app {
    width: 725px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
    margin: 5px;
}
.customers {
    align-self: stretch;
    padding: 5px;
}